body {
  background-color: #b2d8b2; /* فستقي */
  color: #556b2f; /* كتابة زيتوني */
  font-family: Times New Roman, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #556b2f; /* شريط زيتوني */
  padding: 12px;
  text-align: center;
}

.navbar a {
  color: #0000ff; /* روابط زرقاء */
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
}

.navbar a:hover {
  color: #ffdd57;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.profile-img {
  width: 250px;
  height: 250px; /* الصورة كما هي بدون تدوير */
  border-radius: 50%;
  border: 3px solid var(--navbar-footer-color);
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  color: #b2d8b2; /* نص الفوتر زيتوني */
  background-color: #556b2f; /* خلفية الفوتر زيتوني */
}
