/* Supervision Page Styles */

.supervision-section {
  margin-top: 30px;
}

.supervision-section h2 {
  margin-bottom: 15px;
  color: #556b2f;
}

.supervision-list {
  list-style-type: none;
  padding-left: 0;
}

.supervision-list li {
  margin-bottom: 18px;
  line-height: 1.6;
}

.supervision-list strong {
  font-weight: bold;
}
.supervision-divider {
  border: none;
  border-top: 2px solid #6b8e23;
  margin: 40px 0;
}

.supervision-section h2 {
  font-size: 1.3em;
  letter-spacing: 0.5px;
}
.supervision-list em {
  display: block;
  font-style: italic;
}
.supervision-list li {
  text-align: justify;
}
