body {
  font-family: "Times New Roman", serif;
  background-color: #f4f6f2;
  color: #556b2f;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #6b8e23;
  padding: 15px;
  text-align: center;
}

.navbar a {
  color: blue;
  text-decoration: none;
  margin: 0 12px;
  font-weight: bold;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

footer {
  background-color: #6b8e23;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
